@charset "UTF-8";
h1, h2, h3 {
  letter-spacing: 2px;
  font-family: 'Maven Pro',"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", verdana, arial, sans-serif;
  font-weight: bold; }

h4, h5, h6, p, a {
  letter-spacing: 1.5px;
  font-family: 'Maven Pro',"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", verdana, arial, sans-serif; }

h5 {
  font-size: 18px; }

a:hover {
  text-decoration: none; }

body {
  background-color: #F4F4F4; }

h1 {
  font-size: 64px; }

h2 {
  font-size: 48px; }

h3 {
  font-size: 35px; }

h4 {
  font-size: 28px; }

h6 {
  font-size: 14px; }

h1, h2, h3, h4, h5, h6 {
  color: white; }

.navbar {
  padding: 5px;
  background-color: white;
  margin-bottom: 0px; }
  .navbar .navbar-brand {
    padding: 5px; }
  .navbar .navbar-collapse {
    border: none; }
  .navbar h6 {
    color: #222237; }

#video-box .video_overlays {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../images/mesh.png");
  repeat: repeat;
  z-index: 300000; }
#video-box .fluid-width-video-wrapper {
  display: block; }

#about {
  padding-top: 50px; }
  #about .about-caption {
    margin: 20px 0;
    padding: 0 20%;
    padding-bottom: 5%; }
    #about .about-caption h4 {
      color: #222237; }
  #about img {
    width: 100%; }

#service {
  background-color: #222237;
  min-height: 400px; }
  #service .league-img-block {
    max-height: 300px;
    margin-left: auto;
    margin-right: auto; }
  #service .league-text {
    padding: 40px 80px; }
  #service .league-text-p {
    line-height: 2;
    color: #fff; }

#grids .row {
  margin: 20px 0; }
#grids .elder-img {
  margin-left: auto;
  margin-right: auto; }
#grids .width-box {
  margin-bottom: 40px; }
#grids .elder-info {
  padding: 30px; }

#events {
  background-color: #222237; }
  #events .event-list {
    margin: 20px 0; }
  #events .event-description {
    height: 450px;
    background: #FFF; }
    #events .event-description h4, #events .event-description h5, #events .event-description p {
      color: #222237; }

#sports h3 {
  color: #222237;
  margin-bottom: 30px; }
#sports .btn-g {
  margin-top: 50px; }
#sports .box-sport {
  height: 450px; }

#partner {
  background: #fff;
  padding: 5% 0; }

#contact {
  padding: 5% 0;
  background-color: #222237; }
  #contact a {
    color: #FD6F48; }
  #contact img {
    margin: 30px 0; }

#footer {
  background-color: #343454;
  padding: 5% 0; }
  #footer a {
    color: white; }

#copyright {
  background-color: #222237;
  padding: 5%; }

.chair h1 {
  color: #222237;
  text-align: center;
  margin-bottom: 40px; }

.header {
  margin-top: 36px;
  margin-bottom: 36px;
  color: white; }

.ixpass-btn {
  font-size: 18px;
  background-color: #FD6F48;
  color: white;
  padding: 26px 60px;
  border: #FD6F48;
  box-shadow: 0 7px 0 #A8492F;
  margin: 40px 0px;
  display: inline-block; }

.box {
  margin-bottom: 20px;
  height: 500px;
  margin-left: auto;
  margin-right: auto; }

.footassbox {
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

.large-box {
  height: 800px;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

.small-box {
  height: 205px;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

.small-box-bottom {
  margin-top: 40px; }

.box-caption {
  height: 500px;
  padding: 80px 0px;
  background-color: #222237; }
  .box-caption .inner {
    padding: 0 20px;
    color: white; }

.box-shop {
  max-width: 354px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; }

.elder-text {
  margin-bottom: 40px;
  padding: 0 40px; }
  .elder-text h1 {
    color: gray;
    text-align: center; }
  .elder-text h4, .elder-text h3 {
    color: #222237;
    text-align: center; }
  .elder-text p {
    color: #222237;
    text-align: center; }

.elder-man {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px; }
