<div id="grids" class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="width-box chair">
        <h1>{%t chair_des%}</h1>
      </div>
      <img src="{{ "/images/chair/001.jpg" }}" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <img src="{{ "/images/chair/003.jpg" }}" class="img-responsive box">
    </div>
    <div class="col-lg-4 text-center">
      <div class="box-caption box-shop">
        <div class="inner">
          <h4>{%t chair_des%}</h4>
          <p>
              {%t chair_info%}
          </p>
        </div>
        <button name="button" class="ixpass-btn">立即購買</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <img src="{{ "/images/chair/009.jpg" }}" class="img-responsive box">
    </div>
    <div class="col-lg-4">
      <img src="{{ "/images/chair/006.jpg" }}" class="img-responsive box">
    </div>
    <div class="col-lg-4">
      <img src="{{ "/images/chair/012.jpg" }}" class="img-responsive box">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <img src="{{ "/images/chair/007.jpg" }}" class="img-responsive box">
    </div>
    <div class="col-lg-4 text-center">
      <div class="box-caption box-shop">
        <div class="inner">
          <h3>{%t sportswear %} <br/>&<br/>{%t sportgood%}</h3>
          <a href="mailto:contact@ixpass.co" class="ixpass-btn">{%t goshop %}</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <img src="{{ "/images/chair/013.jpg" }}" class="img-responsive box">
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <img src="{{ "/images/chair/002.jpg" }}" class="img-responsive box">
    </div>
    <div class="col-md-4 text-center">
      <div class="box-caption box-shop">
        <div class="inner">
          <p>
            SPEC SEATS為高規格折疊座椅，耐用、典雅、安全、舒適，符合SGS多項認證及擁有專利，更是高票房價值的保證。椅架保固十年之外，更投保了一億五千萬的產品責任險。客戶遍及世界各地
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
