<div id="grids" class="container">
    <div class="col-sm-12 elder-text">
      <div class="width-box">
        <h1>スペシャルコンテンツ</h1>
        <h4>「ロコモティブシンドローム」のお悩み・予防にお答えします</h4>
      </div>
      <img src="{{ "/images/elders.jpg" }}" class="img-responsive elder-img">
      <div class="container">
        <p class="elder-info">
          ロコモティブシンドローム（以下ロコモ）とは、今や予備軍が全国で5,000万人以上と言われ注目されている、「運動器症候群」のこと。主に加齢による運動器、すなわち膝、腰、肩、頸部などの障害のために移動能力が低下し、要介護および将来的に要介護となる危険性が極めて高い状態を指します。
        </p>
      </div>
      <img src="{{ "/images/ex.png" }}" class="img-responsive">
      </div>
  </div>
  <div class="container">
    <div class="col-sm-12 elder-text">
      <div>
        <h3 class="elder-info">「ロコモティブシンドローム」の進行を防ぐには？</h3>
        <p class="elder-info">
          関節の痛みおよび、歩く／椅子から立ち上がる（座る）／階段の上り下りなどの運動が困難な状態にならないうちに、適切な筋肉アップトレーニングを行うことが必要です。
          とくに下半身の筋力強化が重要です。By メディカルコンディショニング スペシャリスト 井上亮馬
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-sm-12 elder-text">

      <h3 class="elder-info">井上亮馬　プロフィール</h3>
      <p class="elder-info">
        CSCS（認定ストレングス＆コンディショニング スペシャリスト）
      </p>
      <p class="elder-info">
        NSCA-CPT（認定パーソナルトレーナー）
      </p>
      <p class="elder-info">
        1978年沖縄生まれ。<br/>
        大学卒業後、CSCS、NSCA-CPTの資格を取得し、アスリートからモデル、著名人まで、幅広いクライアントのトレーナーを務める。
      </p>
    </div>
    <div class="container">
        <img src="{{ "/images/elder-man.jpg" }}" class="img-responsive img-circle elder-man">
    </div>
  </div>
</div>
