<div id="events">
  <div class="container">
    <div class="row">
      <div class="header col-sm-12 text-center">
        <h3>{%t events %}</h3>
      </div>
    </div>
    <div class="row">
      <div class="event-list">
        <div class="col-sm-4 event-description">
          <h4 class="text-center">Event Name</h4>
          <ul class="list-unstyled">
            <li><h5>{%t date %}: 2015/1/12</h5></li>
            <li><h5>{%t donate %}: Jungllle, Inc</h5></li>
            <li><h5>{%t location %}: Japan</h5></li>
          </ul>
          <p>
            TBD
          </p>
          <button name="button" class="btn-w ixpass-btn">{%t more %}</button>
        </div>
        <div class="col-sm-8">
          <div class="box" style="background-image:url({{ "/images/events/85.jpg" }})">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
