<div id="grids" class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="box" style="background-image:url({{ "/images/shop/7.jpg" }})">
      </div>
    </div>
    <div class="col-sm-4 text-center">
      <div class="box-caption">
        <div class="inner">
          <h3>{%t sportswear %} <br/>&<br/>{%t sportgood%}</h3>
          <a href="{{ "/shop" | prepend: site.baseurl }}" class="ixpass-btn">{%t goshop %}</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="box" style="background-image:url({{ "/images/shop/1.jpg" | prepend: site.baseurl_root }})">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="box" style="background-image:url({{ "/images/shop/3.jpg" }})">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="box" style="background-image:url({{ "/images/shop/4.jpg" }})">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="box" style="background-image:url({{ "/images/shop/6.jpg" }})">
      </div>
    </div>
  </div>
</div>
