<div id="grids" class="container">
  <div class="row">
    <div class="col-lg-4">
      <img src="{{ "/images/shop/7.jpg" }}" class="img-responsive box">
    </div>
    <div class="col-lg-4 text-center">
      <div class="box-caption box-shop">
        <div class="inner">
          <h3>{%t sportswear %} <br/>&<br/>{%t sportgood%}</h3>
          <a href="{{ "/shop" | prepend: site.baseurl }}" class="ixpass-btn"><h5>{%t goshop %}</h5></a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <img src="{{ "/images/shop/1.jpg" }}" class="img-responsive box">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <img src="{{ "/images/shop/3.jpg" }}" class="img-responsive box">
    </div>
    <div class="col-lg-4">
      <img src="{{ "/images/shop/4.jpg" }}" class="img-responsive box">
    </div>
    <div class="col-lg-4">
      <img src="{{ "/images/shop/2.jpg" }}" class="img-responsive box">
    </div>
  </div>
</div>
