<nav class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="{{ "/" | prepend: site.baseurl }}">
          <img src="{{  "/images/iconnavbar.png" }}">
        </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#about"><h6>{%t about %}</h6></a>
        </li>
        <li>
          <a href="#service"><h6>{%t service %}</h6></a>
        </li>
        <li>
          <a href="#sports"><h6>{%t sports %}</h6></a>
        </li>
        <li>
          <a href="#events"><h6>{%t events %}</h6></a>
        </li>
        <li>
          <a href="#partner"><h6>{%t partner %}</h6></a>
        </li>
        <li>
          <a href="#contact"><h6>{%t contact %}</h6></a>
        </li>
      </ul>
    </div>
</nav>
