<div class="col-sm-4 text-center box-caption">
  <div class="inner">
    <h4>{%t healty %} </h4>
    <p>
      The starters for the 2015 NBA All-Star game at Madison Square Garden on February 15 are set, with Golden State's Stephen Curry and Cleveland's LeBron James leading the way.
    </p>
  </div>
  <a href="{{ "/elder" | prepend: site.baseurl }}" class="ixpass-btn">More Info</a>
</div>
<div class="col-sm-8 box" style="background-image:url({{ "/images/img-big.png" }})"></div>
<div class="clearfix"></div>
