<div id="partner">
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <img src="{{ "/images/partner/partner.png" }}"  class="img-responsive">
      </div>
      <div class="col-xs-3">
        <img src="{{ "/images/partner/jungllle.jpg" }}" class="img-responsive">
      </div>
      <div class="col-xs-3">
        <img src="{{ "/images/partner/cbls.png" }}" class="img-responsive">
      </div>
      <div class="col-xs-3">
        <img src="{{ "/images/partner/partner2.jpg" }}" class="img-responsive">
      </div>
    </div>
  </div>
</div>
