<div id="service" class="text-center container-fluid">
  <div class="col-lg-12">
    <h2 class="header">{%t software %}</h2>
    <div class="col-lg-6 league-img">
      <img src="{{ "/images/cblsixpass.png" }}" class="img-responsive league-img-block">
    </div>
    <div class="col-lg-6 league-text">
      <p class="league-text-p">CBLS ( Cloud Basketball League Service ) 是業界首先使用雲端系統運算的聯賽網站建置軟體。強大卻簡易的後台讓聯賽主辦單位輕鬆管理所有的賽事資訊，包括球隊資訊、賽程管理、數據管理等。CBLS 能協助您處理大量數據，並且自動計算各種進階數據、球隊及球員數據。告別令人頭疼的數據分析，讓您的聯賽網站輕鬆媲美 NBA 等級。</p>
    </div>
  </div>
  <div class="col-xs-12">
    <button name="button" class="ixpass-btn"><h5>{%t getservice%}</h5></button>
  </div>
</div>
