<div id="service" class="text-center container-fluid">
  <div class="col-lg-12">
    <h2 class="header">{%t software %}</h2>
    <div class="col-lg-6 league-img">
      <img src="{{ "/images/cblsixpass.png" }}" class="img-responsive league-img-block">
    </div>
    <div class="col-lg-6 league-text">
      <p class="league-text-p">{%t cbls %}</p>
    </div>
  </div>
  <div class="col-xs-12">
    <a href="https://dl.dropboxusercontent.com/u/21757113/DATASHHET_JP.pdf " target="_blank" name="button" class="ixpass-btn"><h5>{%t getservice%}</h5></a>
  </div>
</div>
