<div id="sports" class="container">
  <div class="row">
    <h3 class="text-center">{%t sports %} </h3>
    <div class="col-sm-4">
      <div class="box" style="background-image:url({{ "/images/sports/102.jpg" }})">
      </div>
    </div>
    <div class="col-sm-4 text-center">
      <div class="small-box small-box-top" style="background-image:url({{ "/images/sports/b.jpg" }})">
      </div>
      <div class="small-box small-box-bottom" style="background-image:url({{ "/images/sports/33.jpg" }})">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="small-box small-box-top" style="background-image:url({{ "/images/sports/127.jpg" }})">
      </div>
      <div class="small-box small-box-bottom" style="background-image:url({{ "/images/sports/113.jpg" }})">
      </div>
    </div>
  </div>
</div>
